{% extends "blog/master.html" %}

{% block content %}
    <div class="row">
        <p class="signup-title">Zarejestruj się</p>
        <div class="signup-empty"></div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        <div class="signup-label col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ field.label_tag }}</div>
                        <div class="signup-form col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ field }}</div>
                        {% if field.help_text %}
                            <small style="display: none">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button class="signup-button" type="submit">Zarejestruj się</button>

                    </div>
                </form>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>
    </div>
{% endblock %}