{% extends "blog/master.html" %}

{% block content %}
    <div class="row">
    <p class="add_comment-title">Nowy komentarz</p>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="add_comment-container col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                 <button type="submit" class="save btn btn-default">Opublikuj</button>
            </form>
        </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    </div>

{% endblock %}